<footer class="d-flex align-items-center">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center align-content-center">
      <p>© Joseph Collett. 2018</p>
      <div class="footer-social-media-container">
        <a href="https://www.facebook.com/joe.collett2" target="_blank">
            <i class="fab fa-facebook fa-lg"></i>
        </a>
        <a href="https://twitter.com/joeyc_3" target="_blank">
            <i class="fab fa-twitter fa-lg"></i>
        </a>
        <a href="https://www.linkedin.com/in/joe-collett-aa69966a/" target="_blank">
            <i class="fab fa-linkedin fa-lg"></i>          
        </a>
        <a href="https://www.instagram.com/joeyc_3/" target="_blank">
            <i class="fab fa-instagram fa-lg"></i>          
        </a>  
        <a pageScroll [pageScrollDuration]="300" href="#top" class="back-to-top">
          <i class="fas fa-chevron-up"></i>     
        </a>                
      </div>
    </div>
  </div>
</footer>