footer {
    background:#191919;
    min-height: 100px;
    color:darken(#fff, 30%) !important;
    padding:40px 30px;
    @media(min-width: $screen-lg){
        margin:0 15px;
        margin-bottom:15px;
    }
    p {
        margin-bottom:15px;
        font-weight:100;
        letter-spacing:1px;
        color:#b3b2b2 !important;
        @media(min-width: $screen-lg){
            margin-bottom:0px;
        }        
    }
    .footer-social-media-container {
        display:flex;
        align-items:center;
        a { 
            color:darken(#fff, 50%);    
            svg {
                margin-right:20px;
            }                
            &:last-child {
                margin-left:10px;
                svg {
                    margin-right:0px;
                }
            }
            &.back-to-top {
                background:#000;
                width: 35px;
                height: 35px;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;                
            }
        }
    }
}