footer {
    background:#191919;
    min-height: 100px;
    color:darken(#fff, 30%) !important;
    padding:40px 30px;
    font-size:0.9rem;
    letter-spacing: 2px;
    font-weight:200;
    a {
        color:#fff;
        text-decoration: none;
    }
    .footer-links {
        width:300px;
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
    }
    ul {
        display: flex;
        margin:0;
        padding:0;
        list-style: none;
        width:200px;
        justify-content: space-between;
        li {
            background: $primary-color;
            border-radius:50%;
            height: 30px;
            width: 30px;            
            display: flex;            
            justify-content: center;
            align-items: center;            
            a {
                color: #000000;
                i {
                    font-size:7px;
                }
            }
        }
    }
}