.navbar-nav {
    margin-right:-20px; 
}
.navbar-brand {
    img {
        height: 30px;
        position: absolute;
        margin-top: -15px;
        z-index:9999;
    }   
}
.navbar-expand-lg .navbar-collapse {
    position:relative;
    z-index: 99999;
}
.navbar-expand-lg {
    width: 100vw;
    margin-left: -50px;
    border-bottom: 1px solid #eeeeee;
    padding: 30px 65px;
}
.home {
    .navbar-expand-lg {
        border-bottom:none;
    }
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 1rem;
    padding-left: 1rem;
}