// $body:#0D1114 url("https://image.shutterstock.com/z/stock-photo-woman-hand-holding-the-black-smartphone-with-blank-screen-and-modern-frame-less-design-isolated-717952201.jpg");
$body: #ffffff;
$body-home: url("https://image.shutterstock.com/z/stock-photo-nova-bana-slovakia-nov-new-apple-iphone-x-smartphone-769425568.jpg");
$homepage-color:#333;
$homepage-p-color:darken($homepage-color, 20%);