// $body:#0D1114 url("https://image.shutterstock.com/z/stock-photo-woman-hand-holding-the-black-smartphone-with-blank-screen-and-modern-frame-less-design-isolated-717952201.jpg");
$body: #ffffff;
$body-home: url("https://image.shutterstock.com/z/stock-photo-laptop-with-office-supplies-at-gray-desk-657405685.jpg");

$homepage-color:#fff;
$homepage-p-color:darken($homepage-color, 20%);

$primary-color: linear-gradient(#fbb034 0%, #fd0 100%);; 

$header-color: linear-gradient(#fbb034 0%, #fd0 100%);
$header-border-color: #FFEB6C;

$page-heading-color: #fff;
$page-description-color: #fff;
$page-description-font-size:1.5rem;
$outer-container-background: transparent;

$text-color: #333;
$work-title-color: $text-color;
$caption-color: $text-color;
$work-title-size: 1.2rem;

$breakpoints: (
    'xs': 0px,
    'sm': 768px,
    'md': 992px,
    'lg': 1200px,
    'xl': 1450px
);

$screen-mobile: 786px;

$grid: 1,2,3,4,5,6,7,8,9,10,11,12;
$grid-gap: 1,2,3,4,5,6,7,8,9,10,11,12, 20, 30, 40, 50;
