// $body:#0D1114 url("https://image.shutterstock.com/z/stock-photo-woman-hand-holding-the-black-smartphone-with-blank-screen-and-modern-frame-less-design-isolated-717952201.jpg");
$body: #ffffff;
$body-home: url("https://image.shutterstock.com/z/stock-photo-laptop-with-office-supplies-at-gray-desk-657405685.jpg");
$homepage-color:#fff;
$homepage-p-color:darken($homepage-color, 20%);
$outer-container-background: #333;

$text-color: #333;
$work-title-color: $text-color;
$caption-color: $text-color;
$work-title-size: 1.2rem;

$screen-lg: 992px;