<div class="top-container">
    <div class="row row-no-margin row-margin-lg">
      <div class="col-lg-8 col-md-12">
          <h1>About</h1>
          <p class="page-description">Some more about me</p>
      </div>    
    </div>
  </div>
  <div class="row row-no-margin row-margin-lg justify-content-center margin-top-lg margin-bottom-lg">
    <div class="col-lg-10 col-md-12">
      <div class="row justify-content-between">
        <div class="col-md-7">
          <h2>About Me</h2>
          <p class="margin-bottom-sm">I am a UI / frontend web developer with over 4 years professional experience who currently works for GTI recruitment solutions. I love designing and building elegant and accessible user experiences, while always striding and pushing to develop and enhance my current skillset.</p>        
          <p>During the last few years I have been apart of many different projects helping me to become a more well rounded front-end developer - These include helping to build and develop web applications, adding responsive functionality to previous and new systems, company branding and much much more.  My aim is to always make my design work simple with a clean code base no matter what size the project may be.</p>
        </div>
        <div class="col-md-4 margin-top-md no-margin-top-lg">
          <div class="label">Skills</div>
          <p>CSS / SCSS</p>
          <p>HTML5</p>
          <p>JavaScript (ES6)</p>      
          <p>Angular JS & Angular</p>
          <p>jQuery</p>
          <p>Bootstrap</p>
          <p>Branding</p>
          <p>UX principles & accessibility</p>
          <p>Photoshop</p>
          <p>Node JS</p>
        </div>
      </div>
    </div>
  </div>
  