body {
    background:$body;
    font-family: 'Mada', sans-serif;
    background-size:cover;
    color:#333;
    &.contact {
        .top-container {
            background:url("https://firebasestorage.googleapis.com/v0/b/joecollett-c2ff6.appspot.com/o/uploads%2Fcontact.jpg?alt=media&token=fbc9a55c-fe17-4d99-ad91-827c30733a42");
        }
        .social-media-container {
            a {
                color: lighten(#333, 10%);
                font-size: 1.2rem;
                margin-right: 12px;    
            }
        }    
    }
    &.about {
        .top-container {
            background:url("https://firebasestorage.googleapis.com/v0/b/joecollett-c2ff6.appspot.com/o/uploads%2Faboutme.jpg?alt=media&token=b8c0d9d5-4e04-42a4-81a1-7d723e675abc")
        }
    }
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: none;
}
button, .btn {
    -webkit-appearance: none;
    -moz-appearance: none;    
}
.btn.btn-back {
    padding-left:10px;
    svg {
        padding-right:10px;
    }
}
.container-fluid {
    padding:0;
    @media(min-width:$screen-lg){
        padding:0 15px;
    }
}
h1 {
    margin-top: 300px;
    color: #fff;
    font-size:1rem;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 100;
    text-align: center;
    @media(min-width:$screen-lg){
        text-align: left;
        font-size: 1.5rem;
    }
}
h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: 600;
}
h4 {
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 3px;
    font-weight: 400;
}
hr {
    margin-top:3rem;
    margin-bottom:3rem;
}
p.page-description {
    color: #fff;
    font-size: 3rem;
    font-weight: 100;
    line-height: 3.5rem;
    word-spacing: 0px;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    @media(min-width:$screen-lg){
        text-align: left;
    }    
}
a.nav-link {
    color:#333;
}
img {
    max-width:100%;
}
.d-flex-1 {
    flex:1;
}
p, .value, .label, label {
    color:#363636;
    font-weight:300;
    font-size:1.1rem;  
    word-spacing:3px;
    line-height:1.8rem;
}
a {
    font-weight:300;
    font-size:1.1rem;  
    word-spacing:3px;
    line-height:1.8rem;    
}
label {
    font-weight:400;
}
.label {
    font-weight:bold;
    letter-spacing: 2px;
    word-spacing:3px;
    text-transform: uppercase;
}
.value, .label {
    margin-bottom:15px;
}
.muted-background {
    background:#eee;
    display:flex;
    justify-content: center;    
}
.outer-container {
    background:$outer-container-background;
    background-size:cover;
    padding-left:0px;
    padding-right:0px;      
    min-height: 650px;
    position:relative;
    display: flex;
    flex-direction: column;   
    background-size:cover;
    background-position: top left;         
    background-size:cover;       
    @media(min-width: $screen-lg){
        min-height: 500px;  
        margin-top: 15px;
        margin-bottom: 15px;          
    }    
}
.top-container {
    height: 650px;
    background: #333;
    background-size:cover !important;
    @media(min-width:$screen-lg){
        padding:0 75px;        
    }
}
.row-no-margin {
    margin:0;
}
.row-margin-lg {
    @media(min-width:$screen-lg){
        margin:0 -15px;
    }
}
.btn {
    color: #363636;
    background: transparent;
    border-color: #363636;
    padding: 13px 25px;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    transition:0.5s;
    border:2px solid #363636;
    font-weight:bold;
    svg {
        margin-top:-10px;
        transition:0.5s;
    }
    &:hover, &:focus {
        background:#363636;
        transition:0.5s;
        cursor:pointer;
        border-color: #363636;
        svg {
            stroke:#fff;
            transition:0.5s;
        }
    }
    &:disabled {
        background:transparent;
        color: darken(#eee, 20%);
        border-color: darken(#eee, 20%);
        cursor: not-allowed;
        svg  {
            stroke: darken(#eee, 20%);
        }
    }
}
.max-height-700 {
    max-height:700px;
}
.form-control {
    border-radius:0px;
}
textarea {
    height:100px;
}