a.nav-link {
    color:#333;
}
img {
    max-width:100%;
}
.d-flex-1 {
    flex:1;
}
textarea {
    height:100px;
}
.btn-primary {
    background: linear-gradient(#28313B 0%, #485461 100%);
    color: #ffffff;
    border:none;
    padding: 13px 30px;
    font-size: 0.8rem;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.img-responsive {
    width: 100%;
    height: auto;
}
.filter-brightness-20 {
    filter: brightness(20%);    
}
.text-align-center {
    text-align: center;
}
hr {
    border: 0;
    background: 
    #ebf0f4;
    height: 1px !important; 
    overflow: hidden;
    width: 100%;
    float: left;
    clear: both;
}
@each $name, $size in $breakpoints {
    @media(min-width: $size) {
       .hidden-#{$name}  {
            display: none;
       }
       .visible-#{$name}  {
            display: block;
        }   
        .text-align-center-#{$name} {
            text-align: center;
        }  
        .text-align-left-#{$name} {
            text-align: left;
        }      
        .text-align-right-#{$name} {
            text-align: right;
        }                            
    }
}   
main {
    overflow: hidden;
}