body {
    background:$body;
    font-family: 'Mada', sans-serif;
    background-size:cover;
    color:#333;
}
.container-fluid {
  padding:30px 50px 0;
}
a.nav-link {
    color:#333;
}
img {
    max-width:100%;
}