@each $number in $grid {
    @each $name, $size in $breakpoints {
        @media(min-width: $size){
           .grid-columns-#{$number}-#{$name} {
               display: grid !important;
               grid-template-columns: repeat(#{$number}, 1fr);
           }
           .grid-column-#{$number}-#{$name} {
               grid-column: #{$number};
           }
           .grid-column-span-#{$number}-#{$name} {
                grid-column: span #{$number};
            }           
        }
    }          
}   

@each $number in $grid-gap {
    @each $name, $size in $breakpoints {
        @media(min-width: $size){
           .grid-gap-#{$number}-#{$name}  {
                grid-gap: #{$number}px;
           }
        }
    }          
}   