.margin-top-md {
    margin-top:80px;
}
.margin-bottom-sm {
    margin-bottom:40px;
}
.margin-top-xs {
    margin-top:15px;
}
.margin-top-sm {
    margin-top:40px;
}
.margin-top-lg {
    margin-top:100px;
}
.margin-bottom-lg {
    margin-bottom:100px;
}
.margin-bottom-sm {
    margin-bottom:40px;
}
.margin-bottom-md {
    margin-bottom:80px;
}
@media(min-width:$screen-lg){
    .no-margin-top-lg {
        margin-top:0px;
    }
}