$models: ('margin', 'padding');
$sides: ('top', 'left', 'right', 'bottom');
$sizes: (
    'xs': 5px,
    'sm': 10px,
    'md': 15px,
    'lg': 20px,
    'xl': 30px,
    'xxl': 50px,
    'xxxl': 100px,
);

@each $name, $width in $breakpoints {
    @media(min-width: $width) {
        @each $sizeName, $size in $sizes {
            @each $model in $models {
                @each $side in $sides {
                    .#{$model}-#{$side}-#{$sizeName}-#{$name} {
                        #{$model}-#{$side}: #{$size};
                    }
                    .#{$model}-#{$side}-none-#{$name} {
                        #{$model}-#{$side}: 0px;
                    }   
                    .minus-#{$model}-#{$side}-#{$sizeName}-#{$name} {
                        #{$model}-#{$side}: -#{$size};
                    }                                     
                }
            }
        }
    }
}