h1 {
    font-size: 1.6rem;
    letter-spacing: 2px;
    @media(min-width: $screen-mobile) {
        font-size:2rem;
    }
}
h2 {
    font-size:1.4rem;
    letter-spacing: 2px;
    @media(min-width: $screen-mobile) {
        font-size:1.8rem;
    }    
}
h3 {
    font-size:1.1rem;
    letter-spacing: 2px;
}
.text-weight-light {
    font-weight: 100;
}
.text-weight-regular {
    font-weight: 400;
}
.text-weight-bold {
    font-weight: bold;
}
main {
    p, .value, .label, label {
        font-weight: 300;
        word-spacing: 3px;
        line-height: 1.8;   
        font-size: 0.9rem;     
        @media(min-width: $screen-mobile) {
            font-size: 1.1rem;
        }
    }
    label {
        font-weight:400;
        margin-bottom:5px;
    }
}