body.home {   
    .outer-container {
        background:url("https://firebasestorage.googleapis.com/v0/b/joecollett-c2ff6.appspot.com/o/uploads%2Fnewbackgroundsmall.jpg?alt=media&token=17146c0d-dfda-4f1c-918b-dcca28c66673");   
        display: flex;
        flex-direction: column;
        height: calc(100% - 30px);
        margin-top: 15px;
        margin-bottom: 15px;    
        padding-left:60px;
        padding-right:60px; 
    }
    .homepage {  
        color:$homepage-color;             
        .homepage-info {
            margin-top:3vh;   
            .homepage-text {
                color:$homepage-p-color;
                font-size:1.3rem;
                font-weight:100;
                line-height:2.2rem;
            }     
            h1 {
                font-size:3rem;
                letter-spacing:3px;
                margin-top:15vh;
                font-weight:400;
            }
        }
        .homepage-button-learn {
            margin-top:30px;
            font-size:0.8rem;
            display:block;
            color:#fff;
            font-weight:100;
            letter-spacing:2px;
        }
    }    
}
.homepage-image {
    position:fixed;
    left:0;
    top:40px;
}