body.home {   
    .homepage {  
        min-height: calc(100vh - 87px);
        color:$homepage-color;        
        .homepage-info {
            margin-bottom:30vh;   
            .homepage-text {
                color:$homepage-p-color;
                font-size:1.3rem;
                font-weight:100;
                line-height:2.2rem;
            }     
            h1 {
                font-size:3rem;
            }
        }
        .homepage-button-learn {
            margin-top:40px;
            font-size:0.8rem;
            display:block;
            color:#333;
            font-weight:100;
            letter-spacing:2px;
        }
    }    
}
.homepage-image {
    position:fixed;
    left:0;
    top:40px;
}