img.workImageMain {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
    height: auto;
    width: 100%;
}
.work-item {
    position: relative;
    z-index: 1;
    background: #fff;
    padding-top:100px;
}