.work-tile {
    position: relative;
    min-height:200px;
    @media(min-width: $screen-mobile) {
        min-height:400px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    &:hover {
        cursor: pointer;
        .work-tile-img {
            transform: scale(1.2);
        }
    }
    .work-tile-img {
        position: absolute;
        left:0;
        right:0;
        bottom:0;
        top:0;
        height:100%;
        transition: transform .7s;
    }
    .work-tile-description, .work-tile-title {
        z-index: 1;
        position: relative;
        color: #ffffff;
        max-width:80%;
        text-align: center;
    }
    .work-tile-title {
        letter-spacing: 2px;
        font-weight: 500;
        margin-bottom:10px;
    }
    .work-tile-description {
        color:#ddd;
        font-weight: 200;
        margin:0;
    }
}
.work-container {
    > app-work-tile:nth-child(even) {
        grid-column: span 12;
        @media(min-width: $screen-mobile){
            grid-column: span 6;
        }
    }
    > app-work-tile:nth-child(odd) {
        grid-column: span 12;
        @media(min-width: $screen-mobile){
            grid-column: span 6;
        }        
    }    
}