<div class="top-container">
  <img [src]="workDetails?.image" class="workImageMain"/>
  <div class="row">
    <div class="col-lg-8 col-md-10">
      <h1>{{workDetails?.title}}</h1>
      <p class="page-description">{{workDetails?.desc}}</p>
    </div>    
  </div>
</div>
<div class="work-item">
  <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
          <div *ngIf="workDetails?.image">
              <div [innerHTML]="workDetails?.body | safeHtml"></div>
            </div>
            <button *ngIf="workDetails?.image" routerLink="/portfolio">Back</button>
      </div>
    </div>
</div>

