<div class="work-page-container">
  <div class="top-container">
    <div class="row">
      <div class="col-lg-8 col-md-10">
          <h1>Portfolio</h1>
          <p>Scroll down to see some of my most recent work.</p>
      </div>    
    </div>
  </div>
    <div class="row margin-top-md">
      <div class="col-lg-12 work-container" *ngFor="let work of workItems | async | reverse" >
          <div [routerLink]="['/work/', convertUrl(work.id)]" *ngIf="work?.caption" class="a-work d-flex">
            <!-- <div class="workImageContainer" [style.backgroundColor]="work?.backgroundcolor"> -->
            <img class="work-image img-responsive" [src]="work.captionImg" />
            <!-- </div>   -->
            <div class="work-details-container d-flex-1 flex-column d-flex justify-content-center">
              <h3 class="workTitle">{{work.title}}</h3>
              <div class="caption" [innerHTML]="work.caption"></div>
              <button class="btn btn-primary align-self-start">
                View Project
              </button>
            </div>
          </div>
          <hr>
      </div>  
    </div>
</div>