<h1>Edit Work - {{workDetails.title}}</h1>
  <input [(ngModel)]="workDetails.title" class="form-control" />
  <input [(ngModel)]="workDetails.caption" class="form-control" />
  <h2>Current Image</h2>
  <img [src]="workDetails.image" *ngIf="!imageurl">
  <label>
    <input id="fileUpload" type="file" (change)="detectFiles($event)" [(ngModel)]="fileUpload"> 
    {{this.imageurl}}
 </label>    
 <button (click)="removeImage()">Reset Image</button> 
 <img [src]="imageurl" *ngIf="imageurl">  
 <ckeditor
 [(ngModel)]="workDetails.body"
 [config]="{uiColor: '#99000'}"
 [readonly]="false"
 (change)="onChange($event)"
 (ready)="onReady($event)"
 (focus)="onFocus($event)"
 (blur)="onBlur($event)"
 debounce="500">
</ckeditor> 
  <button (click)="saveValue(workDetails.title, workDetails.body, currentUpload, workDetails.caption)" class="btn btn-primary">Press me</button>  