<ul>
    <li>
        <a href="https://www.facebook.com/joe.collett2" target="_blank">
        <i class="fab fa-facebook "></i>
        </a>        
    </li>
    <li>
        <a href="https://twitter.com/joeyc_3" target="_blank">
        <i class="fab fa-twitter "></i>
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/joe-collett-aa69966a/" target="_blank">
        <i class="fab fa-linkedin "></i>          
        </a>        
    </li>
    <li>
        <a href="https://www.instagram.com/joeyc_3/" target="_blank">
        <i class="fab fa-instagram "></i>          
        </a>          
    </li>
    <!-- <li>
        <a href="#top" class="back-to-top">
        <i class="fas fa-chevron-up"></i>     
        </a> 
    </li>                -->
</ul>
