<div class="flex-item-xs flex-justify-space-between-xs flex-align-items-center-xs margin-top-lg-xs navigation">
    <img *ngIf="!background" class="logo padding-left-md-xs padding-right-md-xs padding-left-xl-md padding-right-xl-md" src="../../../assets//logo-joseph.png" alt="logo">
    <img *ngIf="background" class="logo padding-left-md-xs padding-right-md-xs padding-left-xl-md padding-right-xl-md" src="../../../assets//logo-joseph-white.png" alt="logo">
    <app-links [background]="background"></app-links>
    <i class="fas fa-bars mobile-menu margin-right-md-xs"></i>
</div>