<app-header [title]="'Upload'" [description]="'Upload image'"></app-header>
<div>
  <div class="progress">
    <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
  </div>
  Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
</div>
    <label>
       <input type="file" (change)="detectFiles($event)">
    </label>
    <button
            [disabled]="!selectedFiles"
            (click)="uploadSingle()">
      Upload Single
    </button>
    <div class="one" [innerHtml]="returnUrl"></div>