<app-header [title]="workDetails.title" [description]="'Edit item'"></app-header>
<h1>Edit Work - {{workDetails.title}}</h1>
<input [(ngModel)]="workDetails.title" name="title" class="form-control" />
<input [(ngModel)]="workDetails.desc" name="title" class="form-control" />
<input [(ngModel)]="workDetails.caption" class="form-control" />
<input [(ngModel)]="workDetails.backgroundcolor" class="form-control" />
<h2>Current Image</h2>
<img [src]="workDetails.image" *ngIf="!imageurl">
<img [src]="imageurl" *ngIf="imageurl"> 
<h2>Caption Image</h2>
<img [src]="workDetails.captionImg" *ngIf="!captionurl">
<img [src]="captionurl" *ngIf="captionurl"> 
<div class="form-group">
  <label for="fileUpload">Main Image</label>
  <input id="fileUpload" type="file" class="form-control-file" (change)="detectFiles($event)" [(ngModel)]="fileUpload"> 
</div>
<div class="form-group">
    <label for="captionImgUpload">Caption Image</label>
    <input id="captionImgUpload" class="form-control-file" type="file" (change)="detectCaptionImg($event)" [(ngModel)]="captionImgUpload">  
  </div>     
<button (click)="removeImage()" *ngIf="imageurl">Reset Image</button> 
<ckeditor
[(ngModel)]="workDetails.body"
[config]="{uiColor: '#99000'}"
>
</ckeditor> 
<button (click)="saveValue(workDetails.title, workDetails.body, currentUpload, captionUpload, workDetails.caption, workDetails.backgroundcolor, workDetails.desc)" class="btn btn-primary">Press me</button> 
<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner> 