@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Mada:100,200,300,400,900');

$body:#0D1114 url("https://image.shutterstock.com/z/stock-photo-woman-hand-holding-the-black-smartphone-with-blank-screen-and-modern-frame-less-design-isolated-717952201.jpg");
$homepage-color:#333;
$homepage-p-color:darken($homepage-color, 20%);

body {
    background:$body;
    font-family: 'Mada', sans-serif;
    background-size:cover;
    color:#333;
}
.container-fluid {
  padding:30px 50px 0;
}
.navbar-nav {
  margin-right:-20px;
}
a.nav-link {
  color:#333;
}
img {
    max-width:100%;
}
.homepage {
    min-height: calc(100vh - 87px);
    color:$homepage-color;
    .homepage-info {
        margin-bottom:25vh;   
        p {
            color:$homepage-p-color;
            font-size:1.3rem;
            font-weight:100;
        }     
        h1 {
            font-size:3rem;
        }
    }
}